{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="apple-touch-icon" href="{% static "icon.png" %}">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <meta name="theme-color" content="#fafafa">
    <script defer src="{% static "js/vendor/modernizr-3.11.2.min.js" %}"></script>
    <script defer src="{% static "js/plugins.js" %}"></script>
    <script defer src="{% static "js/main.js" %}"></script>
    <script src="https://kit.fontawesome.com/e12dfc1962.js" crossorigin="anonymous"></script>

    {% block head_js_more %}
    {% endblock %}
</head>

<body>
    <nav>
        <div class="wrap">
            <a class="logo" href="{% url "index" %}"><i class="fa-solid fa-house fa-2xl"></i></a>
            <div class="links">
                <a class="link" href="{% url "index" %}">Home</a>
                <a class="link" href="{% url "users" %}">Users</a>
            </div>
{% if user is not None %}
    {% if user.is_authenticated %}
         <div class="user">
                <div class="user_wrap">
                    <svg viewBox="0 0 36 36" fill="none" role="img" xmlns="http://www.w3.org/2000/svg" width="40" height="40"><mask id="mask__beam" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36"><rect width="36" height="36" rx="72" fill="#FFFFFF"></rect></mask><g mask="url(#mask__beam)"><rect width="36" height="36" fill="#1f2122"></rect><rect x="0" y="0" width="36" height="36" transform="translate(4 4) rotate(340 18 18) scale(1.1)" fill="#ad4650" rx="36"></rect><g transform="translate(-4 -1) rotate(0 18 18)"><path d="M15 20c2 1 4 1 6 0" stroke="#FFFFFF" fill="none" stroke-linecap="round"></path><rect x="14" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#FFFFFF"></rect><rect x="20" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#FFFFFF"></rect></g></g></svg>
                    <i class="fa-solid fa-angle-down"></i>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a class="link" href="{% url "user_profile" user.username %}">
                                    <span><i class="fa-solid fa-user"></i></span>
                                    <span>Profile</span>
                                </a>
                                <a class="link" href="{% url "user_watchlist" user.username %}">
                                    <span><i class="fa-solid fa-list"></i></span>
                                    <span>List</span>
                                </a>
                                <a class="link" href="{% url "friendship_view_friends" user.username %}">
                                    <span><i class="fa-solid fa-user-group"></i></span>
                                    <span>Friends</span>
                                </a>
                                 <a class="link" href="{% url "friendship_request_list" %}">
                                    <span><i class="fa-solid fa-user-group"></i></span>
                                    <span>Request</span>
                                </a>
                                <a class="link" href="{% url "logout" %}">
                                    <span><i class="fa-solid fa-right-from-bracket"></i></span>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    {% else %}
        <div class="user">
            <a class="login" href="{% url "login" %}">Login</a>
            <a class="button sign-in" href="{% url "register" %}">Register</a>
        </div>
    {% endif %}
{% endif %}

        </div>
    </nav>

    <main class="app page_content">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
